html,body {
        width : 100%;
        height: 100%;
    }

    body {

        padding: 0;
        margin: 0 auto;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a img {
        border: none;
    }

    .navbar{
        margin-bottom: 0px;
    }

    #content{
        background: url("../images/back.jpg") repeat-y;
		background-position: top;
        padding-top: 10px;
    }
    #room_entry {
        position: relative;
        z-index: 10;
        text-align: center;
        margin: 0 auto;
        padding: 11px;
        top: 15%;
        width:60%;
        min-width: 320px;
        max-width: 450px;
        background-color: rgba(255,255,255,0.8);
        border-radius: 20px;
        border: 1px solid #e4e4e4;
    }


    #room_entry input{
        border-radius: 6px;
    }

    .container {
        position: relative;
        z-index: 10;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 20px;
        top: 20%;
        width:90%;
        min-width: 320px;
        max-width: 850px;
        background-color: rgba(255,255,255,0.8);
        border-radius: 20px;
        border: 1px solid #e4e4e4;
    }

    .container img {
        max-width: 150px;
        max-height: 150px;
    }

    #get_started {
        margin-top: 25px;
    }

    .thumbnails {
        width: 150px;
    }

    footer{
        text-align: center;
    }
    footer a{
        margin-right: 10px;
    }

    .input-group{
        margin-bottom: 10px;
    }

    #datepicker{
        z-index: 10000;
    }
    .modal-dialog,.modal-content{
        background-color: rgba(255,255,255,0.8);
        border-radius: 20px;
        border: 1px solid #e4e4e4;
    }